<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Document
body
    h2 Cargar Articulos   
    form(action="/articulos" method="post")
        select(id="articulos" name="articulos") 
            option Elija la categoria
            each val in categ
                option=val.nombreCategoria
        br
        label Nombre de articulo:
        input(type:'text', placeholder:'Ingrese su articulo')
        br 
        label Precio de articulo:
        input(type:'text', placeholder:'Ingrese el precio')
        br
        label Número de articulo:
        input(type:'text', placeholder:'Ingrese numero de articulo')
        br
        button(type:'submit') Enviar
        br
        br
    button    
        a(href="/categorias") cargar categorias
