/* HEADER */
header{
    background: url(img/limp.png);
    background-size: 800px; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 500px;

}

/* REGISTRO */

#formularioContenedor{ 
    width: 100%;
    height: 100px;
    display: flex;
    
}

#formulario{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

#registro{
    width: 90%;
    justify-content: flex-end; 
}

#botones{

    justify-content: flex-end; 
}

/* NAV */
nav{
    margin-top: 50px;
    background-color: dodgerblue;
    
}
ul{
    margin: 0px;
    display: flex;
    justify-content: space-around;
} 

ul a{
    font-size: 2em;
    color: aliceblue;
    text-decoration: none;
}

ul li{
    text-decoration: none;
    list-style: none;
}
aside{
    display: flex;
}
#articulos{
    display: flex;
}

#contenedor1, #contenedor2, #contenedor3 {
    width:33%;
    height: 400px;

}

#contenedor1 img, #contenedor2 img, #contenedor3 img{
    width: 100%;
    height: 100%;
}



#imagen1:target {
    background-image: url("img/foto1_chica.png");
    margin: 30px;
    display: block;

   
}

#imagen2:target{
    margin: 30px;
    background-image: url("img/foto2_chica.png");
    display: block;
    
}

#imagen3:target{
    margin: 30px;
    background-image: url("img/limp_chica.png");
    display: block;
  
}


#listado{
    display: flex;
}

#imagen1{
    position: relative;
    display: none;
    width: 300px;
    height: 300px;

 }
 
 #imagen1 h2, #imagen1 p, #imagen2 h2, #imagen2 p, #imagen3 h2, #imagen3 p {
    left:0;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;

 } 
#imagen2{
    position: absolute;
    display: none;
    width: 300px;
    height: 300px;
    
}
#imagen3{
    position: absolute;
    display: none;
    width: 300px;
    height: 300px;
    
}

#imagen1 h2, #imagen1 p, #imagen2 h2, #imagen2 p, #imagen3 h2, #imagen3 p {
    
    z-index: -1;
    position: relative;

}

#imagen1:hover h2, #imagen1:hover p,#imagen2:hover h2, #imagen2:hover p,#imagen3:hover h2, #imagen3:hover p {

    left: 320px;
}